<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, , user-scalable = no"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <title>yangon bus</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2/dist/base.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2/dist/utilities.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/mapbox-gl@2/dist/mapbox-gl.css"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://animejs.com/lib/anime.min.js"></script>
    <script src="js/index.js" type="module"></script>
  </head>
  <body>
    <!-- mapbox -->
    <div id="map" class="w-screen h-screen"></div>

    <!-- nearest bus stops -->
    <div
      class="fixed inset-x-0 bottom-0 px-4 pb-8 shadow-2xl bg-white overflow-hidden rounded-t-3xl max-w-full w-96 mx-auto transition-all transform duration-500"
      :class="bottomSheet"
      id="nearest-bus-stops"
    >
      <div
        class="w-32 h-1 rounded-2xl bg-gray-300 mx-auto cursor-pointer mt-3 mb-2"
        @click="hideNearestBusStops"
      ></div>
      <div class="mt-4 space-y-2 divide-y divide-gray-300">
        <div
          v-for="(busStop, i) in busStops"
          :key="'bus-stop-'+i"
          class="flex justify-between pt-2 pb-3"
        >
          <h6>{{busStop.name}}</h6>
          <div class="flex space-x-1">
            <div
              class="w-8 h-8 flex justify-center items-center shadow rounded font-bold text-white pb-1.5"
              :class="busLineColor(bus_id)"
              v-for="(bus_id, n) in busStop.bus_ids"
              :key="'line-'+n+'_'+i"
            >
              {{ bus_id.toBurmeseString() }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
